.label{
    color: #373b3e;
    font-weight: 500;
    padding: 0 0 5px;
    font-size: 12px;
}

.invoice-date-picker-container {
    position: relative;
    width: 100%;
}

.invoice-date-picker-container:after {
    color: #909294;
    content: "\f073";
    display: block;
    font-family: fontawesome;
    font-size: 15px;
    margin: auto;
    position: absolute;
    top: 10px;
    right: 15px;
}

.form-control {
    border-color: #d3d3d4;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    color: #4d5154;
    height: 40px;
    line-height: 2;
    width: 20%;
}  

