<div class="class-wrapper">
<h2 class="heading">Create New Employee</h2>
<form class="form" (ngSubmit)="createEmployee()">
  <label class="label" for="name">Name:</label>
  <input class="label" type="text" id="name" [(ngModel)]="newEmployee.name" name="name" required />

  <label class="label" for="age">Age:</label>
  <input class="input" type="number" id="age" [(ngModel)]="newEmployee.age" name="age" required />

  <label class="label" for="position">Position:</label>
  <input class="input" type="text" id="position" [(ngModel)]="newEmployee.position" name="position" required />

  <button class="btn" type="submit">Create</button>
</form>
</div>