<!-- <app-button [label]="'Save'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked1($event)"></app-button>

<app-button [label]="'cancel'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked2($event)"></app-button>


<app-button [label]="'ayush 3'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked($event)"></app-button>

<app-icon-button (IconClickEvent)="iconClicked($event)"></app-icon-button>

<app-input-field></app-input-field>

<app-dropdown></app-dropdown>
<app-textarea></app-textarea>
<app-datepicker></app-datepicker>
<app-actionbutton></app-actionbutton>
<app-floating-button (floatingbuttonClickEvent)="floating($event)"></app-floating-button> -->

<!-- <app-createpage></app-createpage>  -->


<app-table></app-table>