<!-- <app-button [label]="'Save'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked1($event)"></app-button>

<app-button [label]="'cancel'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked2($event)"></app-button>


<app-button [label]="'ayush 3'" [isShowIcon]="isShowIcon" (buttonClickEvent)="appClicked($event)"></app-button>

<app-icon-button (IconClickEvent)="iconClicked($event)"></app-icon-button>

<app-input-field></app-input-field>

<app-dropdown></app-dropdown>
<app-textarea></app-textarea>
<app-datepicker></app-datepicker>
<app-actionbutton></app-actionbutton>
<app-floating-button (floatingbuttonClickEvent)="floating($event)"></app-floating-button> -->

<!-- <app-button></app-button> -->


<!-- <app-table [headers]="headers" [datas]="datas" [displayColumns]="displayColumns"></app-table> -->
 <div style="display: flex; justify-content: space-evenly;">
<a routerLink = "/">Home</a>
<a routerLink = "/create-invoice">Create Invoice</a>
<a routerLink = "/test1">Test1</a>
<a routerLink = "/test2" id="2">Test2</a>
<a routerLink = "/test3">Test3</a>
</div>

<router-outlet></router-outlet>