<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas">
      <td *ngFor="let coloum of displayColumns">{{ data[coloum] }}</td>
    </tr>
  </tbody>
</table>




























<!-- <table class="table">
    <thead>
      <tr *ngFor="let thead of theads;">
        <th>#</th>
        <th>{{thead.invoiceNumber}}</th>
        <th>{{thead.client}}</th>
        <th>{{thead.createdDate}}</th>
        <th>{{thead.dueDate}}</th>
        <th>{{thead.amount}}</th>
        <th>{{thead.status}}</th>
        <th>{{theads.action}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.client }}</td>
        <td>{{ invoice.createdDate | date: 'dd MMM yyyy' }}</td>
        <td>{{ invoice.dueDate | date: 'dd MMM yyyy' }}</td>
        <td>{{ invoice.amount | currency }}</td>
        <td>
          <span [ngClass]="getStatusClass(invoice.status)">
            {{ invoice.status }}
          </span>
        </td>
        <td>
          <button (click)="onActionClick(invoice)">...</button>
        </td>
      </tr>
    </tbody>
  </table> -->
  