<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header.value }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas">
      <td *ngFor="let header of headers">
        <!-- Handle different types based on header.type -->
        <ng-container [ngSwitch]="header.type">
          <!-- Display number --> 
          <span *ngSwitchCase="'number'">{{ data[header.name] }}</span>
          <!-- Display string -->
          <span *ngSwitchCase="'string'">{{ data[header.name] }}</span>
          <!-- Display date -->
          <span *ngSwitchCase="'date'">{{ data[header.name] | date }}</span>
          <!-- Display status with different formatting (optional) -->
          <span *ngSwitchCase="'status'" [ngClass]="getStatusClass(data[header.name])">{{ data[header.name] }}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>




<!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        Loop through headers to display column names
        <th *ngFor="let header of headers">{{ header.value }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of datas">
        Loop through headers again to dynamically render each row
        <td *ngFor="let header of headers">
          Handle different types based on header.type
          <ng-container [ngSwitch]="header.type">
            Display number
            <span *ngSwitchCase="'number'">{{ row[header.name] }}</span>
            Display string
            <span *ngSwitchCase="'string'">{{ row[header.name] }}</span>
            Display date
            <span *ngSwitchCase="'date'">{{ row[header.name] | date }}</span>
            Display status with different formatting (optional)
            <span *ngSwitchCase="'status'" [ngClass]="getStatusClass(row[header.name])">{{ row[header.name] }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->



<!-- <table class="table">
    <thead>
      <tr *ngFor="let thead of theads;">
        <th>#</th>
        <th>{{thead.invoiceNumber}}</th>
        <th>{{thead.client}}</th>
        <th>{{thead.createdDate}}</th>
        <th>{{thead.dueDate}}</th>
        <th>{{thead.amount}}</th>
        <th>{{thead.status}}</th>
        <th>{{theads.action}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.client }}</td>
        <td>{{ invoice.createdDate | date: 'dd MMM yyyy' }}</td>
        <td>{{ invoice.dueDate | date: 'dd MMM yyyy' }}</td>
        <td>{{ invoice.amount | currency }}</td>
        <td>
          <span [ngClass]="getStatusClass(invoice.status)">
            {{ invoice.status }}
          </span>
        </td>
        <td>
          <button (click)="onActionClick(invoice)">...</button>
        </td>
      </tr>
    </tbody>
  </table> -->
  